body {
  background-color: black;
  color: antiquewhite;
  font: small-caps bold 18px/1 sans-serif;
  text-align: center;
  background-image: url("./img/bg_test.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  object-fit: fill;
  margin: 0px;
}

/* Usefull classes */

.flex-center {
  display: flex;
  justify-content: center;
}

.golden-border{
    border-radius: 40px;
    border-bottom: 1px solid goldenrod;
border-top: 1px solid goldenrod;
background-image: linear-gradient(#ffffff10, #00000050, #ffffff10);
}

/* MAIN CONTAINER*/
.container {
  max-width: 1140px;
  margin: 3em 0;
  padding: 0 8em;
  background-color: #000000c0;
  border-radius: 20px;
}

/*Page specific containers*/

/*NAVBAR STYLING*/

#navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 2em;
  background-color: black;
}
#navbar li {
  color: grey !important;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  padding: 1em 1em;
  border-right: 1px solid goldenrod;
}
#navbar li a {
  text-decoration: none;
  color: grey;
}

.contact {
  border: none !important;
}

/* HOME PAGE */

.logo-container {
  flex-direction: column;
  align-items: center;
  color: gray;
}
.logo-container img {
  border-bottom: 1px solid goldenrod;

  padding-bottom: 1rem;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 4em;
  border-radius: 29px;
  margin: 2em 0em;
  background-image: linear-gradient(to bottom right, #eab52030, #00000020);
  border-bottom: 1px solid
goldenrod;
border-top: 1px solid
goldenrod;
  /*    box-shadow: inset 40px 0 40px #fff5ff20, inset -40px 0 40px #ececec20;
    border: 1px solid white;
    background-color: #E5EDD929;
*/
}
.person img {
  width: 30em;
  height: auto;
  align-items: center;
}
.person p {
  max-width: 30em;
  font-size: 16px;
}

.slogan-container {
  margin: 2em 0em;
  border-radius: 40px;

border-bottom: 1px solid
goldenrod;

border-top: 1px solid
goldenrod;

padding: 1.5rem;

background-image: linear-gradient(
#ffffff10, #00000050, #ffffff10);
}

.slogan-container h1 {
  font-size: larger;
  max-width: 20em;
  text-align: center;
}

/* Services Page */

.service-container {
  width: 38em;
}

.services-header {
  border-bottom: 1px solid goldenrod;
}
.services-text {
  margin: 1rem 0em;
  border-radius: 40px;
  border-bottom: 1px solid goldenrod;
  border-top: 1px solid goldenrod;
  padding: 1rem;
  background-image: linear-gradient(#ffffff10, #00000050, #ffffff10);
}
.services-text h3{
    padding-bottom: 1rem;
    border-bottom: 1px solid wheat;
}
.services-text p {
  font-size: 16px;
}

/* Contact Page */
.contact-container {
    width: 38em;
    padding-top: 2em;
  }

.contact{
    display:flex;
    flex-direction: column;
}

.contact-form{
    display: flex;
    flex-direction: column;
}