body {
  font-family: "Market Fresh Bold", Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#loading-page {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  position: fixed;
  z-index: 100;
  opacity: 0;
}

#header li {
  display: block;
  font-weight: bold;
  padding: 0.3em 0em;
}

#header li .letter {
  opacity: 0;
  font-weight: bold;
  padding-left: 0.1em;
}

#header .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#header img {
  width: 0.8em;
  padding: 0.5em;
  opacity: 0.7;
}

#header img:hover {
  opacity: 1;
}

.section {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  scroll-behavior: smooth;
}

#s1 {
  height: 100vh;
}

#background {
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-image: url("./img/Mist-june-4.jpg");
}

#logo {
  opacity: 0;
}

#slogan-container {
  opacity: 0;
  position: relative;
}

#s2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-attachment: fixed;
  height: 75vh;
}

#s2 #parallax-background {
  z-index: -1;
  background-image: url("./img/kiltraske-3.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#s2 h2 {
  font-size: xxx-large;
  padding-top: 1em;
  color: #f4f4f4;
}

#s2 p {
  font-size: x-large;
  padding: 3em 7em;
}

#about-container {
  background-color: sienna;
  color: white;
  text-shadow: 0px 0px 1px 1px black;
}

#service-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#service-container h1 {
  z-index: 2;
  position: relative;
}

.services {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 9em 0em;
  margin-left: 6.5em;
  margin-right: 6.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seq_h {
  font-size: xxx-large;
  margin: 0.4em 0em;
}

.seq_u {
  color: #a44a1f;
  font-size: xx-large;
  margin: 0.6em 0em;
}

.card-img-container {
  background-color: #000000;
}

.card-img-container img {
  width: 100%;
  max-height: 55em;
}

.card-img-container .card-image {
  opacity: 0;
}

#card1-img {
  opacity: 0;
}

.card-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}

.card-rect {
  position: absolute;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  z-index: -1;
}

#rect1 {
  -o-border-image: linear-gradient(to left, black, sienna) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(black), to(sienna)) 1;
     border-image: linear-gradient(to left, black, sienna) 1;
}

#rect2 {
  -o-border-image: linear-gradient(to right, black, sienna) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(black), to(sienna)) 1;
     border-image: linear-gradient(to right, black, sienna) 1;
}

#rect3 {
  -o-border-image: linear-gradient(to left, black, sienna) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(black), to(sienna)) 1;
     border-image: linear-gradient(to left, black, sienna) 1;
}

#rect4 {
  -o-border-image: linear-gradient(to right, black, sienna) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(black), to(sienna)) 1;
     border-image: linear-gradient(to right, black, sienna) 1;
}

#sequence {
  background-color: #000;
}

#global {
  background-color: #000;
}

#global img {
  max-width: 100%;
  height: 100%;
}

#equipment {
  background-color: #000;
}

#equipment .equipment-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#archive {
  background-color: #000;
}

#archive img {
  max-width: 100%;
  height: 100%;
}

#archive .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#service-slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

#slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000080;
  padding: 0.7em;
  border-radius: 43px;
}

#slide-container li {
  opacity: 0;
}

.slide-button {
  margin: 0em 1em;
}

.slide-button li {
  display: block;
}

.slide-button img {
  width: 0.8em;
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px 2px 2px black;
          box-shadow: 0px 0px 2px 2px black;
  border-radius: 10px;
}

.slide-button img:hover {
  opacity: 1;
}

#s4 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#s4 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: x-large;
}

#s4 a:link {
  color: white;
}

#s4 a:hover {
  color: #8B4513;
}

#s4 a:visited {
  color: white;
}

#s4 a:active {
  color: black;
}

#contact {
  font-size: xxx-large;
}

#inquiries {
  color: saddlebrown;
  font-size: xxx-large;
  font-style: italic;
}

#mail {
  font-style: x-large;
  font-style: italic;
  margin: 4em;
}

#instagram-btn {
  margin: 2em;
}

#instagram-btn img {
  max-width: 1em;
}

footer {
  font-size: xx-small;
  color: saddlebrown;
}

@media (max-width: 768px) {
  #about-container p {
    padding: 0em;
    font-size: initial;
    padding: 2em 1em;
  }
  .service-card {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 3em;
    margin-bottom: 0em;
    padding-bottom: 3em;
  }
  #card1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid sienna;
  }
  #card2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-bottom: 1px solid sienna;
  }
  #card3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid sienna;
  }
  #card4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card-rect {
    display: none;
  }
  .card-img-container {
    margin-top: 1em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .service-card p {
    font-size: smaller;
  }
  #about-container p {
    padding: 1em 2em;
  }
  .service-card {
    margin-left: 2em;
    margin-right: 2em;
  }
  .seq_h {
    font-size: x-large;
    margin: 0.2em 0em;
  }
  .seq_u {
    color: #a44a1f;
    font-size: larger;
    margin: 0.3em 0em;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .seq_h {
    font-size: xx-large;
    margin: 0.2em 0em;
  }
  .seq_u {
    color: #a44a1f;
    font-size: x-large;
    margin: 0.3em 0em;
  }
}
/*# sourceMappingURL=main.css.map */