body {
  font-family: "Market Fresh Bold", Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  z-index: 100;
  opacity: 0;
}

#header li {
  display: block;
  font-weight: bold;
  padding: 0.3em 0em;
}

#header li .letter {
  opacity: 0;
  font-weight: bold;
  padding-left: 0.1em;
}

#header .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#header img {
  width: 0.8em;
  padding: 0.5em;
  opacity: 0.7;
}

#header img:hover {
  opacity: 1;
}

.section {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  scroll-behavior: smooth;
}

#s1 {
  height: 100vh;
}

#background {
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-image: url("./img/Mist-june-4.jpg");
}

#slogan-container {
  position: relative;
}

#s2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-attachment: fixed;
  height: 75vh;
}

#s2 #parallax-background {
  z-index: -1;
  background-image: url("./img/kiltraske-3.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#s2 h2 {
  font-size: xx-large;
  padding-top: 1em;
  color: #f4f4f4;
}

#s2 p {
  font-size: x-large;
  padding: 1em 8em;
}

#about-container {
  background-color: sienna;
  color: white;
  text-shadow: 0px 0px 1px 1px black;
}

#service-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#service-container h1 {
  z-index: 2;
  position: relative;
}

.services {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 9em 0em;
}

#card1 {
  margin-left: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8em;
}

#card2 {
  margin-left: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8em;
}

#card3 {
  margin-left: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8em;
}

#card4 {
  margin-left: 8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8em;
}

.card-img-container img {
  width: 100%;
  max-height: 55em;
}

.card-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 2em;
  padding-right: 2em;
}

.card-text-container p {
  text-align: right;
}

#card1-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#card1-text p {
  text-align: left;
}

#card3-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#card3-text p {
  text-align: left;
}

.card-rect {
  position: absolute;
  border: 1px solid sienna;
  border-radius: 6px;
  z-index: -1;
}

#sequence {
  background-color: #000;
}

#global {
  background-color: #000;
}

#global img {
  max-width: 100%;
  height: 100%;
}

#equipment {
  background-color: #000;
}

#equipment .equipment-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#archive {
  background-color: #000;
}

#archive img {
  max-width: 100%;
  height: 100%;
}

#archive .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#service-slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

#slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000080;
  padding: 0.7em;
  border-radius: 43px;
}

#slide-container li {
  opacity: 0;
}

.slide-button {
  margin: 0em 1em;
}

.slide-button li {
  display: block;
}

.slide-button img {
  width: 0.8em;
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px 2px 2px black;
          box-shadow: 0px 0px 2px 2px black;
  border-radius: 10px;
}

.slide-button img:hover {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */